/*Main divs*/
.center{
    width: 75%;
    margin: 10px auto;
}

.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Form fields*/
.change-password-card {
    max-width: 400px;
}

.change-password-full-width {
    width: 100%;
    margin-bottom: 10px;
}

.expand-bottom {
    margin-bottom: 35px;
}

.change-password-margin {
    margin: 0px 10px;
    display: inline-block;
    position: absolute
}