.change-password-spinner-margin {
    margin: 0px 10px;
    display: inline-block;
    position: absolute
}

.change-password-image-container {
    width: 432;
    height: 333.13px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: auto;
    padding-top: 35%;
}
