<div class="main-div">
  <mat-card class="form-card center">
    <div *ngIf="!changedPassword">
      <mat-card-header>
        <div mat-card-avatar class="header-form-card-image"></div>
        <mat-card-title>Troca de senha</mat-card-title>
        <mat-card-subtitle>Easy Invoice</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field class="form-input-full-width expand-bottom">
            <input matInput placeholder="Nova senha" type="password" (keyup)="validateForm()" [formControl]="passwordControl">
            <mat-error *ngIf="passwordControl.hasError('hasnospecial') && !passwordControl.hasError('required')">
              A senha deve conter ao menos um caracter especial
            </mat-error>
            <mat-error *ngIf="passwordControl.hasError('hasnonumber') && !passwordControl.hasError('required')">
              A senha deve conter ao menos um número
            </mat-error>
            <mat-error *ngIf="passwordControl.hasError('hasnouppercase') && !passwordControl.hasError('required')">
              A senha deve conter ao menos uma letra maiúscula
            </mat-error>
            <mat-error *ngIf="passwordControl.hasError('hasnolowercase') && !passwordControl.hasError('required')">
              A senha deve conter ao menos uma letra minúscula
            </mat-error>
            <mat-error *ngIf="passwordControl.hasError('maxlength') && !passwordControl.hasError('required')">
              A senha deve conter no máximo {{passwordControl.errors.maxlength.requiredLength}} caracteres
            </mat-error>
            <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('required')">
              A senha deve conter no mínimo {{passwordControl.errors.minlength.requiredLength}} caracteres
            </mat-error>
            <mat-error *ngIf="passwordControl.hasError('required')">
              Digite uma senha
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-input-full-width">
            <input matInput placeholder="Confirmar" type="password" (keyup)="validateForm()" [formControl]="confirmControl">
            <mat-error *ngIf="confirmControl.hasError('different') && !confirmControl.hasError('required')">
              Esta senha deve ser igual à anterior
            </mat-error>
            <mat-error *ngIf="confirmControl.hasError('required')">
              Este campo é requerido
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div>
          <button mat-raised-button class="orange-action-button" matTooltip="Mudar senha" [disabled]="!validForm" (click)="onSend()">Enviar</button>
          <mat-progress-spinner diameter="35" [mode]="mode" class="change-password-spinner-margin">
          </mat-progress-spinner>
        </div>
      </mat-card-actions>
    </div>
    <div *ngIf="changedPassword">
      <div mat-card-image class="success-change-password-image"></div>
    </div>
  </mat-card>
</div>